.block-image {
    p {
        @include text-caption;
    }
    img {
        // object-fit: cover;
        // width: 100%;
        max-width: 100%;

        &.size-small {
            width: 300px;
        }
        &.size-medium {
            width: 600px;
        }
        &.size-large {
            width: 1200px;
        }
    }
}
