{% load i18n wagtail_modeltranslation %}
<div class="language-picker">
    <form class="form-inline">
        <label for="language-picker" class="mr-2"><i class="fas fa-globe-americas fa-lg"></i></label>
        <select id="language-picker" class="form-control form-control-sm w-auto" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            {% get_current_language as current_language %} {% get_available_languages_wmt as languages %}
            {% for language in languages %}
                <option value="{% change_lang language page %}"
                        {% if language == current_language %} selected{% endif %}>
                    {{ language }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>