.fa-facebook {
  color: $color-brand-facebook;
  &:hover {
    color: darken($color-brand-facebook, 25%);
  }
}

.fa-twitter {
  color: $color-brand-twitter;
  &:hover {
    color: darken($color-brand-twitter, 25%);
  }
}

.fa-instagram {
  color: $color-brand-instagram;
  &:hover {
    color: darken($color-brand-instagram, 25%);
  }
}

.fa-youtube {
  color: $color-brand-youtube;
  &:hover {
    color: darken($color-brand-youtube, 25%);
  }
}

.fa-linkedin {
  color: $color-brand-linkedin;
  &:hover {
    color: darken($color-brand-linkedin, 25%);
  }
}