@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$source-sans-pro: "Source Sans Pro", sans-serif;
$notica-text: "Noticia Text", sans-serif;

$body-font: $source-sans-pro;
$header-font: $notica-text;

body {
    font-family: $body-font;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: normal;
}

@mixin text-caption {
    font-style: italic;
    font-size: 16px;
    text-align: center;
}
