{% load wagtailcore_tags wagtailimages_tags %}

<div class="container py-4 py-md-1">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="row align-items-center
            {% if self.alignment == 'center' %} text-center {% endif %} 
            ">
                {% if self.image %}
                <div class="
                    col-12
                    {% if self.alignment != 'center' %} col-md-4 {% endif %} 
                    {% if self.alignment == 'right' %} order-md-1 {% endif %}
                ">
        
                    {% if self.external_url %}
                    <a href="{{self.external_url}}" target="_blank">
                    
                    {% elif self.page %}
                    <a href="{{self.page.url}}">
                    
                    {% elif self.document %}
                    <a href="{{self.document.url}}">
                    {% endif %}
                      
        
                        {% image self.image fill-512x512 as image %}
                        <img src="{{image.url}}" alt="{{image.alt}}" />
                    </a>
                </div>
                {% endif %}
                <div class="
                    col-12 
                    {% if self.alignment != 'center' %} col-md-8 {% endif %} 
                    {% if self.alignment == 'right' %} order-md-0 {% endif %}
                    {% if self.alignment == 'center' %} py-2 {% endif %} 
        
                    {% if self.alignment == 'center' %} text-center {% endif %}
                    {% if self.alignment == 'left' %} text-center text-md-left {% endif %}
                    {% if self.alignment == 'right' %} text-center text-md-right {% endif %}
                ">  
        
                    <h2 class="mt-2 mt-md-0">{{self.title}}</h2>
                    {% if self.body %}
                    <p>{{self.body}}</p>
                    {% endif %} 
                    
                    
                    {% if self.external_url %}
                    <a href="{{self.external_url}}" target="_blank" class="btn btn-primary">{{self.button_label}}</a>
                    
                    {% elif self.page %}
                    <a href="{{self.page.url}}" class="btn btn-primary">{{self.button_label}}</a>
                    
                    {% elif self.document %}
                    <a href="{{self.document.url}}" class="btn btn-primary">{{self.button_label}}</a>
                    {% endif %}
                </div>
        
            
            </div>
        </div>
    </div>
</div>
